.formWrapper {
  max-width: 848px;
  width: 100%;
  margin: 0 auto;
}

.formWrapper {
  display: flex;
}

.form {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

.form form {
  flex: 1;
  margin-top: 1rem;
  background: #d2ab8a;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form form input {
  background: white;
  height: 53.52px;
  display: block;
  width: 100%;
  background: #ffffff;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  padding: 0 1rem;
}

.form form > :not(:last-child) {
  margin-bottom: 1rem;
}

.form form button {
  margin-top: 1rem;
}

@media (max-width: 850px) {
  .formWrapper {
    display: flex;
    flex-direction: column;
  }

  .form {
    margin-right: 0rem;
    margin-bottom: 1rem;
  }
}
